
{% extends "nova/base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

    {{ form.non_form_errors }}  {# For fromset errors  #}
    <div  class="box-body">
      <div class="form-group">  
        <form enctype="multipart/form-data"  method="POST">
 
             {% csrf_token %}
          
             
                    {% bootstrap_form form %}
       
                  {% buttons %}

              <button type="submit" value="Submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
              </button> 
                {% endbuttons %}

           
       </form>
{% endblock %}
