{% extends "nova/base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<h3> List of Businesses under your Account </h3>
<p> To Login to your Business. Please go to <a href="https://users.accountingbuddy.org/login"> Accounts </a> 
     and login with your Email address as user name and password as password </p>

<p> If your not familiar with Accounting and need to Customise the Software to your Business, Please fill the <a href={% url 'accountingbuddy:business-req'  %}> Business Request Form </a></p> 

{% for item in business %}

{{ forloop.counter }}. <b> Business Name : </b> <i>{{ item.name }} </i> <b> Created : </b> <i> {{ item.created }} </i> <b> User : </b> {{ item.user }}

{% endfor %}


{% endblock %}
